body{
    padding-top: 50px; 
}

.welcome{
    color: white;
}

.alert{
    text-align: center;
}

.menu-inscription *{
    margin-top: 8px;
}

.tabulation{
margin-left: 2em;
}
 
.disconnected{
    padding-top: 80px;
}